<div class="container">
  <div class="form-group">
    <input type="text" class="form-control" id="find" placeholder="Titre catégorie" [(ngModel)]="titre" #title="ngModel">
  </div>
  
  <div class="row">
    <!-- Affiche les catégories si elles correspondent à la valeur de recherche ou si aucune valeur n'est saisie -->
    <div class="col-md-4" style="margin-bottom: 20px;" *ngFor="let categorie of categories">
      <div *ngIf="title.value == '' || categorie.title == title.value">
                <img (click)="getDescription(categorie.description)" [src]="categorie.image" [alt]="categorie.title" class="img-fluid h-50 w-75">
        <h3>{{categorie.title | uppercase}}</h3>

        <button class="btn btn-primary" *ngIf="categorie.available">Voir produits</button>
        <span *ngIf="!categorie.available" class="text-danger">Non disponible</span>
      </div>
    </div>
  </div>
</div>
